{% extends "content_wrapper.html" %}

{% block content %}
<h2>
    Start
</h2>
    <h5>
    The HealthAInes device will help you to exercise more, to exercise right and to inform your doctors about your progress.
    </h5>
    <h5>
        Just tell the device what to do, it understands voice commands. "Start" will show this information, "Exercise" starts the exercises, "Report" shows the report.
        <br/>
        Easy enough, isn't it?
    </h5>
    <h5>
        During the exercises you can start and stop exercise by voice. Just say "Start" followed by the name of the exercise.
        You can end an exercise just by saying "Stop".
    </h5>
{% endblock %}